<p id="notice"><%= notice %></p>

<h3>Listing Customers</h3>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Home Phone</th>
      <th>Mobile Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr id="<%= dom_id(customer) %>">
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.h_phone %></td>
        <td><%= customer.c_phone %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'New vehicle for this customer', new_customer_vehicle_path(customer) %></td>
        <td><%= link_to 'Detail', customer %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>

