<p id="notice"><%= notice %></p>

<p>
  <strong>Cust:</strong>
  <%= @customer.cust_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Addr1:</strong>
  <%= @customer.addr1 %>
</p>

<p>
  <strong>Addr2:</strong>
  <%= @customer.addr2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<p>
  <strong>H phone:</strong>
  <%= @customer.h_phone %>
</p>

<p>
  <strong>C phone:</strong>
  <%= @customer.C_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
